*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*para que las cajas consideren a su borde como medida*/
    line-height: 1.5; /*interlineado*/
    font-family: sans-serif;
}

html{
    background-color: whitesmoke;

}

header, main, footer {
    border: 2px #0e01f7 solid;
}

/* colores generales
RED
CMYK: 9 97 100 1
         HEX: #da291c
RGB: 218 41 28
PANTONE: PMS 485 C

GOLD
CMYK: 1 18 100 0
         HEX: #ffcd00
RGB: 255 205 0
PANTONE: PMS 109 C
*/

.header-info {
    display: flex;
    justify-content: right;
    list-style: none;
    background-color: black;
    color: white;
    font-weight: bold;
    /*position: sticky;  *Solo se desplaza en el header*/
}



.header-info li a {
    text-decoration: none; /*quita el subrrayado a los hipervinculos*/
}
.header-info-text {
    font: color white;
    padding: 0 1rem;
}

.logo {
    display: flex;
    justify-content: center;

    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
}

nav {
    background-color: black;
    /*background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    
}

nav ul {
    list-style-type: none;
    /*font-style: normal;*/
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-left: 150px;
    padding-right: 150px;
    
}

nav ul li {
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    padding:0 1rem;
    color: white;
    font-size: 1.3rem;
}

nav ul li a:hover {
    background: cornflowerblue;
}
/*-------------------------------------MAIN---------------------------------------------------------------------*/
.carrusel {
    display: flex;
    justify-content: center;
}
.cards {
    padding: 0 1rem;
    display: flex;
    flex-direction: row; /*predeterminado row*/
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 8rem;
    width: 30rem;
    background-color: #ffcd00;
    margin: 1rem 0;
    
    border-radius: 10px;
   
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

.col-hard {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    
}

aside{
    border: #da291c solid;
    width: 40%;
}

aside img {
    width: 100%;
    border-radius: 10px;
}

.col-articulosvarios {
    width: 60%;
    display: flex;
    flex-direction: column; /*predeterminado row*/
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    border: 2px#2cbc79 solid;
}

.aavv{
    /*border: red solid;*/
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    justify-content: center;
    
}

.aavv img {
    width: 100%;
    border-radius: 10px;
}

/*-------------------------------------FOOTER-----------------------------------------------------------------*/

footer {
    display: flex;
    display: block;
    background-color: black;
}

section {
    width: 100%;
    padding: 1% 8%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
    color: whitesmoke;
    justify-content: space-evenly;
}

.col-footer_colum {
    /*border:solid #da291c;*/
    display:flex;
    display: inline;
    justify-content: space-evenly;
    min-width: 15rem;
    width: 20%;
    height: 17rem;
}

section div iframe {
    height: 100%;
    width: 100%;
}

.iconos_redes {
    margin-top: 0% auto 0%;
    text-align: left;
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.footerderechos {
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color:black;
    text-align: center;
    border-top: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 0.5em;
}

.whatsapp_icon {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

/*---------------------------------     MEDIA QUERIES  -------------------------------------------------------*/

@media only screen and (max-width:700px) {
    [class*="col-"] {
        display: flex;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        margin: auto;
        
    }

    .logo {
        display: flex;
        width: 100%;
        flex-direction: column;
        display:block;
        justify-content: center;
        margin: auto;
    }
    
    .col-logo {
        display: flex;
        margin: auto;
        
        
        max-width: 25em;
        justify-content:center;
        
    }
    nav {
        margin: auto;
    }
}

@media only screen and (min-width:700px) {
    .col-logo {
        display: flex;
        margin: auto;
        height: 7em;
        max-width: 15em;
        justify-content:center;
    }
}


/* los bordes los tengo para orientarme, a lo ulitmo los sacare */