*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box; /*para que las cajas consideren a su borde como medida*/
    line-height: 1.5; /*interlineado*/
    font-family: sans-serif;
}

:root {font-size: 16px;}

html{
    background-color: whitesmoke;
    font-size: 1rem;
    height: 100%;

}

body, header, main, footer {
    border: 3px #da291c solid;
    margin: 0.5rem;
    min-height: 50px;
    min-width: 600px;
}

/* colores generales
RED
CMYK: 9 97 100 1
         HEX: #da291c
RGB: 218 41 28
PANTONE: PMS 485 C

GOLD
CMYK: 1 18 100 0
         HEX: #ffcd00
RGB: 255 205 0
PANTONE: PMS 109 C
*/

.header-info {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    background-color: rgb(70, 70, 61);
    color: white;
    font-weight: bold;
    position: sticky;  /**Solo se desplaza en el header*/
    top: 0px;
}

/*.header-menubar {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
} CLASS ELIMINADO*/

.divmenu {
    display: flex;
    flex-direction: row;
    
}

header div a {
    text-decoration: none; /*quita el subrrayado a los hipervinculos*/
}
.header-info-text {
    font: color white;
}

nav {
    background-color: #89d4cf;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    
}

nav ul {
    list-style-type: none;
    
    /*font-style: normal;*/
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-left: 150px;
    padding-right: 150px;
    
}

nav ul li {
    padding-left: 25px;
    padding-right: 25px;  
      color: white;
}

main{
    min-height: 100px;
}

.cards {
    margin:0 auto;
    display: flex;
    flex-direction: row; /*predeterminado row*/
    flex-wrap: wrap;
    justify-content:center;
}

.box{
    background-color: #ffcd00;
    text-align: center;
    height: 8rem;
    width: 30rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

/*.navmenus {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;

}  CLASS ELIMINADO */ 

.col-hard {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    
}

aside{
    border: #da291c solid;
}

.col-articulosvarios {
    margin:0 auto;
    display: flex;
    display: inline-block;
    flex-direction: column; /*predeterminado row*/
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    max-width: 36em;
    min-width: 35em;
    border: #da291c solid
    ;
}

.aavv{
    display: flex;
    flex-direction: column;
    margin: auto;
    width:36em;
    justify-content: center;
}

footer {
    display: flex;
    display: block;
    background-color:  rgb(70, 70, 61);
}

section {
    list-style-type: none;
    display: flex;
    flex-direction: row; /*predeterminado row*/
    flex-wrap: wrap;
    font-size: 0.7em;
    color: whitesmoke;
    justify-content: center;
    padding: 0% 2% 0%;
}

section div iframe {
    padding: 0;
    height: 100%;
    width: 100%;
}
.col-footer_colum {
    /*border:solid #da291c ;*/
    display:flex;
    display: inline-block;
    justify-content: space-evenly;
    min-width: 10%;
    width: 19%;
    margin: 3em;
}

.iconos_redes {
    margin-top: 0% auto 0%;
    text-align: left;
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 0;
    margin: 0;
}

.footerderechos {
    display: flex;
    display: inline-block;
    width: 100%;
    background-color:  rgb(70, 70, 61);
    padding-left: 9%;
    text-align: left;
    margin: auto;
    border-top: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 0.7em;
    position: fixed;
    bottom: 0px;
}

.whatsapp_icon {
    position: fixed;
    right: 0.5em;
    bottom: 0.001em;
}


@media only screen and (max-width:700px) {
    [class*="col-"] {
        display: flex;
        display: block;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
        margin: auto;
        
    }

    /*   ASIDE  
    a medida que se va a achicando el ancho los 3 arituculos se mueven debajo del ASIDE pero el aside queda pegado hacia la izquierda y no puedo CENTRARLO.
    En cambio los ariculos si quedan centrados todo el tiempo en su contenedor. */

    .divmenu {
        display: flex;
        width: 100%;
        flex-direction: column;
        display:block;
        justify-content: center;
        margin: auto;
    }
    
    .col-logo {
        display: flex;
        margin: auto;
        
        
        max-width: 25em;
        justify-content:center;
        
    }
    nav {
        margin: auto;
    }
}

@media only screen and (min-width:700px) {
    .col-logo {
        display: flex;
        margin: auto;
        height: 7em;
        max-width: 15em;
        justify-content:center;
    }
}


/* los bordes los tengo para orientarme, a lo ulitmo los sacare */