*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*para que las cajas consideren a su borde como medida*/
    line-height: 1.5; /*interlineado*/
    font-family: 'Playfair Display', serif;
}

html{
    background-color: rgb(01, 06, 29);

}

header, main, footer {
    /*border: 2px #0e01f7 solid;*/
}

/* colores generales
RED
HEX: #da291c
RGB: 218 41 28


GOLD
HEX: #ffcd00
RGB: 255 205 0

*/

.header-info {
    display: flex;
    justify-content: right;
    list-style: none;
    background-color: black;
    color: white;
    font-weight: bold;
    /*position: sticky;  *Solo se desplaza en el header*/
}

.header-info li a {
    text-decoration: none; /*quita el subrrayado a los hipervinculos*/
}

.header-info-text {
    font: color white;
    padding: 0 1rem;
}

.header-info-text a {
    color: white;
}

.checkbtn {
    display: none;
    overflow: hidden;
    height: 3rem;
    float: right;
    cursor: pointer;
}

#check {
    display: none;
}

.logo {
    /*border: red solid;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 25rem;
}

.logo img {
    width: 20%;
}
.nombrelog {
    display: flex;
    justify-content: center;
    width: 15rem;
    background-image: linear-gradient(315deg, #89d4cf 0%, #6e45e1 74%);
    text-align: center;
    border-radius: 10px;
    list-style: none;
}

.nombre {
    text-align: center;
    font-size: 2.2rem;
    color: white;
    font-style: bold;
    list-style: none;
}

nav {
    background-color: rgb(01, 06, 29);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem 0;
    align-items: center;
}

nav a {
    list-style: none;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /*font-style: normal;*/
    font-weight: bold;
}

nav ul li {
    display: flex;
    text-decoration: none;
    padding: 0 1rem;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    padding:0 1rem;
    color: white;
    font-size: 1.3rem;
    border-radius: 10px;
}

nav ul li a:hover {
    background: cornflowerblue;
    transition: .2s;
}
/*-------------------------------------MAIN---------------------------------------------------------------------*/
.carrusel {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 1rem;
    overflow: hidden;
}

.slider {
    /*border: blue solid;*/
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

.slides {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.slide {
    min-width: 100%;
    height: auto;
    z-index: -1;
}

.slide img {
    width: 100%;
    align-items: center;
    z-index: -1;
}

.parrafo {
    color: white;
    padding: 5rem 10rem;
    font-size: 2rem;
    text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 10rem;
}

.parteshard {
    display: flex;
    display: block;
    background-color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding:1rem;
    width: 25rem;
    height: 17rem;
    /* border: red solid;*/
    margin: 1rem 1rem;

}

.parteshard div {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 13rem;
}

.parteshard img {
    width: 100%;
}

.cards {
    padding: 10px 10px;
    display: flex;
    flex-direction: row; /*predeterminado row*/
    flex-wrap: wrap;
    justify-content:center;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 7rem;
    width: 22rem;
    background-color: #ffcd00;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    
}

.box:hover {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    transition: .2s;
}

.box h5 {
    font-weight: bold;

} 

.col-hard {
    /*border:5px palevioletred solid;*/
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 10rem;
    justify-content: center;
    align-items: center;
}

aside{
    display: flex;
    justify-content: center;
    /*border: #da291c solid;*/
    width: 35%;
    padding: 1rem;
}

aside img {
    width: 100%;
    border-radius: 10px;
}

.col-articulosvarios {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*border: 2px#2cbc79 solid;*/
    padding: auto;
    
}
.aavv{
    /*border: red solid;*/
    display: flex;
    width: 67%;
    justify-content: center; 
    padding: 1rem;
}

.aavv img {
    width: 100%;
    border-radius: 10px;
}

.formmenu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.form_encabezado {
    /*border: violet solid;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 1.5rem;
}

.formmenu section {
    display: flex;
    width: 40%;
    /*border: red solid;*/
    align-items: center;
    padding: 2rem 1rem;
    color: black;
    font-size: 1.4rem;
}

main form {
    border: thin solid #383838;
    background-color: #E0E0E0;
    border-radius: 10px;
    padding: 1%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 50rem;
    box-shadow: 8px 8px 11px 0px rgba(255, 255, 255, 0.555);
    border: 3px outset black;
}

textarea {
    width: 100%;
    height: 10rem;
}

main form div {
    /*border:rgba(39, 158, 98, 0.3) solid;*/
    width: 100%;
    padding: 0.3rem 0;

}

main form input {
    width: 100%;
    border: 1px #383838 solid;
}

.cajacv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    border: 1px #383838 solid;
    height: 10rem;
    justify-content: center;
    align-items: center;
}

.adjuntarcv {
    display: block;
    flex-wrap: wrap;
    /*position: relative;*/
    background-color: black;
    color: white;
    border: 0;
    padding: 12px 20px;
    border-radius: 8px;
    overflow: hidden;
    transition: ease-out 120ms;
    width: 45%;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.adjuntarcv:hover {
    transform: scale(1.01);
    box-shadow: 10px 10px 37px black;
    background: cornflowerblue;
    color: black;
    font-weight: bold;
}

.adjuntarcv label {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.adjuntarcv input[type="file"] {
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.adjuntarcv btn-file label {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 1;
}

/*-------------------------------------FOOTER-----------------------------------------------------------------*/

footer {
    display: flex;
    display: block;
    background-color: rgb(01, 06, 29);
}

section {
    width: 100%;
    padding: 1% 8%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
    color: whitesmoke;
    justify-content: space-evenly;
}

.col-footer_colum {
    /*border:solid #da291c;*/
    display:flex;
    display: inline;
    justify-content: space-evenly;
    min-width: 15rem;
    width: 20%;
    height: 17rem;
}

/*.RRHH {
    border:solid #da291c;
    display:flex;
    display: inline;
    justify-content: space-evenly;
    min-width: 15rem;
    width: 20%;
    height: 17rem;

}*/

.col-footer_colum a {
    color: whitesmoke;
    text-decoration: none;
}

section div iframe {
    height: 100%;
    width: 100%;
}

.iconos_redes {
    margin-top: 0% auto 0%;
    text-align: left;
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}

.footerderechos {
    display: flex;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color:rgb(01, 06, 29);
    text-align: center;
    border-top: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 0.5em;
}

.whatsapp_icon {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

/*-------------------------A partir de aca comienza los Media Queries para Mobile--------------------------*/
@media only screen and (max-width:600px) {
    .checkbtn {
        display: flex;
        position: fixed;
        top: 15px;
        left: 6px;
    }

    #check:checked~ul {
        left: 0;
    }

    nav ul {
        position: fixed;
        top: 77px;
        width: 100%;
        height: 30%;
        background-color: black;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    .cards {
        background-color: green;
    }

    .header-info {
        display: none;
    }

    .nombre {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .logo {
        width:100%;
        justify-content: center;
        background-color: black;
    }
    
    .logo img {
        width: 15%;
    }
    .nombrelog {
        display: flex;
        justify-content: center;
        width: 15rem;
        background-color: #534cda;
        text-align: center;
        border-radius: 10px;
        list-style: none;
    }

    nav {
        width: 100%;
        display: block;
        padding: 0rem;
    }

    nav ul {
        /*border: red solid;*/
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    nav ul li {
        width: 100%;
        justify-content: center;
        text-align: center;
        text-decoration: none;

    }

    nav ul li a {
        justify-content: center;
        width: 100%;
        padding:0rem;
        font-size: 1rem;
    }

    .carrusel img {
        width: 100%;
    }

    .parrafo {
        
        padding: 1rem 2rem;
        font-size: 1rem;
    }

    .galeria {
        padding: 1rem;
    }
    
    .parteshard {
        padding: .5rem;
        width: 100%;
        /* border: red solid;*/
        margin: 1rem;
    }
    
    .parteshard div {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 13rem;
    }

    .parteshard img {
        width: 110%;
    }

    .col-hard {
        /*border:5px palevioletred solid;*/
        padding: 1rem;
    }

    aside {
        width: 100%;
        padding: 0rem;
    }
    .col-articulosvarios {
        width: 100%; 
        padding: 0rem;
    }

    .aavv{
        width: 100%;
        padding: 1rem;
    }

    .col-footer_colum {
        display: block;
        justify-content: center;
        min-width: none;
        width: 100%;
        height: 13rem;
        text-align: center;
        align-items: center;
        align-content: center;
    }
/*
.aavv{
    border: red solid;
    display: flex;
    width: 67%;
    justify-content: center; 
}

.aavv img {
    width: 100%;
    border-radius: 10px;
}*/

}

/*-------------------A partir de aca comienza los Media Queries para TABLET VERTICAL----------------------*/

@media (min-width:601px) and (max-width:768px) {
    .header-info {
        display: none;
    }

    .parrafo {
        
        padding: 1rem 3rem;
        font-size: 1rem;
    }

    .cards {
        background-color: blue;
    }

    .col-hard {
        /*border:5px palevioletred solid;*/
        padding: 1rem;
    }

    aside {
        width: 100%;
        padding: 0rem;
    }
    .col-articulosvarios {
        width: 100%; 
        padding: 0rem;
    }

    .aavv{
        width: 100%;

    }
}

/*--------------A partir de aca comienza los Media Queries para NOTEBOOK ---------------*/

@media (min-width:769px) and (max-width:1280px) {
    .cards {
        background-color: orange;
    }

    .col-hard {
        /*border:5px palevioletred solid;*/
        padding: 1rem;
    }

    aside {
        width: 60%;
        padding: 0rem;
    }
    .col-articulosvarios {
        width: 100%; 
        padding: 0rem;
    }
}

/* los bordes los tengo para orientarme, a lo ulitmo los sacare */